.mybody{
    margin:0;
    padding:0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: black;
    color: white;
}

.bottom{
    display: flex;
    text-align: center;
    font-size: x-large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #737373;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
    min-height: 20vh;
    max-height: 20vh;
    letter-spacing: 3px;
}

.center{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 13%;
    min-height: 30vh;
}

.ring{
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation: ring 2s linear infinite;
}

@keyframes ring {
    0%{
        transform: rotate(0deg);
        box-shadow: 1px 5px 2px #e65c00;
    }
    50%{
        transform: rotate(180deg);
        box-shadow: 1px 5px 2px #18b201;
    }
    100%{
        transform: rotate(360deg);
        box-shadow: 1px 5px 2px #0456c8;
    }
}

.ring:before{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(255, 255, 255, .3);
}

.span-text{
    color: #737373;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 200px;
    animation: text 3s ease-in-out linear infinite;
}
@keyframes text {
    50%{
        color: black;
    }
}

.myinput[type=file]{
    border: 1px dashed #737373;
    height: 100%;
    width: 80%;
    font-size: 28px;
    text-indent: 15px;
    border-radius: 8px;
}

.myinput[type=image]{
    margin-top: 5%;
    height: 50%;
    background-size: cover;
    background-position:center;
}

.myinput[type=image]:hover{
    background: #3AA8CBea;
    z-index: -1;
    box-shadow: 0 0 10px #3AA8CB,
                0 0 20px #3AA8CB,
                0 0 40px #3AA8CB,
                0 0 80px #3AA8CB,
                0 0 100px #3AA8CB;
    transition: 0.25s;
}

.myinput[type=submit]{
    border: 3px solid white;
    color: white;
    font-size: 28px;
    border-radius: 10px;
    outline: none;
    background: none;
    border: grey;
    border-width: 1px;
    letter-spacing: 3px;
    box-shadow: 0 0 15px rgb(225, 9, 245), 0 0 75px rgb(225, 9, 245);
    border: 1px solid rgb(225, 9, 245);
}

.myinput::placeholder {
    color: grey;
}

.myinput[type=file]::-webkit-file-upload-button {
    display: none;
}
  
.myinput[type=file]::file-selector-button {
    display: none;
}


.myform{
    display: flex;
    max-width: 100%;
    padding-top: 3%;
    margin-right: 0%;
}