<!doctype html>
<html lang="it">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Scanware</title>
        <link rel="stylesheet" href="/static/style.css"
    </head>

    <body class="mybody" >
    
       <div class="center">
            <div class="ring"></div>
            <span class="span-text">LOADING ...</span>        
       </div> 
       <div class="bottom">Attendere la configurazione degli antivirus.</div>   
    
    
       <script>
            setTimeout(function(){
                window.location.href = '/';
            }, 5000);
        </script>

    </body>
</html>

