<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fly on the Cloud</title>
  </head>

  <body>

    <!--Corpo centrale della home page-->
    <div style="max-width: 580px;">
        <h1>Benvenuto!</h1>

        <!--Bottoni "Accedi" e "Iscriviti"-->
        <table align="center">
          <tr>
            <td>
              <form action="/malwareAnalysis" method="GET">
                <button type="submit">Esegui Analisi</button>
              </form>
            </td>
            <td>
              <form action="/results" method="GET">
                <button type="submit">Vedi risultati</button>
              </form>
            </td>
          </tr>
        </table>
  </body>

</html>
